@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 600px;
  margin: 0 auto;
  border: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  min-height: 100vh;
}

body main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
}

a {
  color: #333;
}

.login {
  background-color: #ffc629;
  height: 100vh;
}

.app_name {
  color: white;
  margin-top: 80px;
  font-family: "Helvetica", "Arial", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic" sans-serif;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.app_name p {
  margin-bottom: 0;
}

.loginform {
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  color: white;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.loginform input {
  display: block;
  line-height: 40px;
  height: 40px;
  width: 90%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid rgba(72, 247, 133, 0.1);
}

.loginform input:focus {
  outline: 0;
}

.loginform button {
  height: 40px;
  width: 100px;
}

.section {
  color: white;
  margin-top: 80px;
}

/*new form */
.user-editor {
  width: 60%;
  margin: 60px auto;
  text-align: center;
}

.user-editor .input-wrapper {
  margin: 20px;
}

.user-editor .input-wrapper label {
  display: block;
  text-align: left;
  color: white;
}

.user-editor .input-wrapper label i {
  margin-right: 10px;
}

.user-editor .input-wrapper input {
  opacity: 0.7;
  width: 100%;
  line-height: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid rgba(72, 247, 133, 0.1);
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.user-editor .input-wrapper input:focus {
  outline: 0;
  opacity: 0.9;
}

.user-editor button {
  margin: 70px auto;
  display: block;
}

/* getTag */
.getTag {
  margin: 60px auto 30px auto;
}

.getTag .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  padding: 0;
}

.getTag .tags .tag {
  margin: 10px 10px;
}

.getTag input[type="checkbox"] {
  display: none;
}

.getTag label {
  cursor: pointer;
  border: 2px solid #292929;
  border-radius: 20px;
  background-color: #292929;
  color: white;
  opacity: 0.6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
}

.getTag input[type="checkbox"]:checked + input + label {
  opacity: 1;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  -webkit-animation: big 0.3s;
          animation: big 0.3s;
}

@-webkit-keyframes big {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes big {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

/* index main page */
.search-wrapper {
  margin: 60px auto;
  width: 90%;
}

.search-wrapper h2 {
  font-weight: bold;
  font-size: 24px;
}

.search-wrapper form {
  position: relative;
  margin: 0 auto;
}

.search-wrapper form input {
  display: block;
  width: 100%;
  margin: 0 auto;
  border-radius: 25px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.search-wrapper form button {
  position: absolute;
  right: 20px;
  top: 2px;
  color: rgba(0, 0, 0, 0.2);
  border: none;
  background-color: #fff;
  font-size: 17px;
  padding: 0;
}

.red {
  color: red;
}

.user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.user-list li {
  width: 50%;
  margin-bottom: 30px;
}

.user-list li .user-icon {
  text-align: center;
  margin-bottom: 20px;
}

.user-list li .user-icon .userImage {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
}

.user-list li p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.user-list li p .user-name {
  margin-right: 50px;
}

/* main page user show */
.show-container {
  width: 75%;
}

.show-container .user-icon {
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;
}

.show-container .user-icon .userImage {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
}

.show-container .profile-wrapper {
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
}

.username {
  margin-bottom: 50px;
}

.username span:first-child {
  margin-right: 30px;
}

.profile {
  margin-bottom: 50px;
}

.profile small {
  color: white;
  background-color: #ffc629;
  opacity: 0.8;
  border-radius: 30px;
  padding: 7px 15px;
  display: inline-block;
  font-size: 13px;
}

button {
  display: block;
  margin: auto;
}

/* user edit */
.edit .user-editor .input-wrapper label {
  color: #333;
}

.edit .user-editor .input-wrapper .file-input {
  border: none;
  border-radius: 0%;
  height: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.edit .user-editor .input-wrapper textarea {
  border: 1px solid rgba(72, 247, 133, 0.1);
  border-radius: 10px;
  width: 100%;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  resize: none;
  font-size: 12px;
}

.edit .user-editor .input-wrapper textarea:focus {
  outline: 0;
}

footer a {
  width: 24%;
  margin: 0 auto;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
}

footer a i {
  display: block;
  font-size: 35px;
  padding: 30px 0;
}
/*# sourceMappingURL=style.css.map */