* {
	box-sizing: border-box;
}
body {
	width: 600px;
	margin: 0 auto;
	border: 1px solid #eee;
	display: flex;
	flex-flow: column;
	min-height: 100vh;
	main {
		flex: 1;
	}
}
$shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);

.login {
	background-color: #ffc629;
	height: 100vh;
}

.app_name {
	color: white;
	margin-top: 80px;
	font-family: "Helvetica", "Arial", "Hiragino Kaku Gothic ProN",
		"ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
		"MS PGothic" sans-serif;
	p {
		margin-bottom: 0;
	}
	text-shadow: $shadow;
}

.loginform {
	text-shadow: $shadow;
	color: white;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	input {
		display: block;
		line-height: 40px;
		height: 40px;
		width: 90%;
		margin: 20px auto;
		background-color: #fff;
		border-radius: 20px;
		border: 1px solid rgba(72, 247, 133, 0.1);
		&:focus {
			outline: 0;
		}
	}
	button {
		height: 40px;
		width: 100px;
	}
}

.section {
	color: white;
	margin-top: 80px;
}

/*new form */

.user-editor {
	width: 60%;
	margin: 60px auto;
	text-align: center;
	.input-wrapper {
		margin: 20px;
		label {
			display: block;
			text-align: left;
			color: white;
			i {
				margin-right: 10px;
			}
		}
		input {
			opacity: 0.7;
			width: 100%;
			line-height: 40px;
			height: 40px;
			background-color: #fff;
			border-radius: 20px;
			border: 1px solid rgba(72, 247, 133, 0.1);
			box-shadow: $shadow;
			transition: all 0.3s;
			&:focus {
				outline: 0;
				opacity: 0.9;
			}
		}
	}
	button {
		margin: 70px auto;
		display: block;
	}
}

.search-wrapper {
	margin: 60px auto;
	width: 90%;
	h2 {
		font-weight: bold;
		font-size: 24px;
	}
	form {
		position: relative;
		margin: 0 auto;
		input {
			display: block;
			width: 100%;
			margin: 0 auto;
			border-radius: 25px;
			height: 30px;
			border: 1px solid rgba(0, 0, 0, 0.2);
		}
		button {
			position: absolute;
			right: 20px;
			top: 2px;
			color: rgba(0, 0, 0, 0.2);
			border: none;
			background-color: #fff;
			font-size: 17px;
			padding: 0;
		}
	}
}
.red {
	color: red;
}

footer {
	a {
		width: 24%;
		margin: 0 auto;
		text-align: center;
		color: rgba(0, 0, 0, 0.2);
		i {
			display: block;
			font-size: 35px;
			padding: 30px 0;
		}
	}
}
