* {
	box-sizing: border-box;
}
body {
	width: 600px;
	margin: 0 auto;
	border: 1px solid #eee;
	display: flex;
	flex-flow: column;
	min-height: 100vh;
	main {
		flex: 1;
	}
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		margin: 0;
		padding: 0;
	}
}
a {
	color: #333;
}
$shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);

.login {
	background-color: #ffc629;
	height: 100vh;
}

.app_name {
	color: white;
	margin-top: 80px;
	font-family: "Helvetica", "Arial", "Hiragino Kaku Gothic ProN",
		"ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
		"MS PGothic" sans-serif;
	p {
		margin-bottom: 0;
	}
	text-shadow: $shadow;
}

.loginform {
	text-shadow: $shadow;
	color: white;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	input {
		display: block;
		line-height: 40px;
		height: 40px;
		width: 90%;
		margin: 20px auto;
		background-color: #fff;
		border-radius: 20px;
		border: 1px solid rgba(72, 247, 133, 0.1);
		&:focus {
			outline: 0;
		}
	}
	button {
		height: 40px;
		width: 100px;
	}
}

.section {
	color: white;
	margin-top: 80px;
}

/*new form */

.user-editor {
	width: 60%;
	margin: 60px auto;
	text-align: center;
	.input-wrapper {
		margin: 20px;
		label {
			display: block;
			text-align: left;
			color: white;
			i {
				margin-right: 10px;
			}
		}
		input {
			opacity: 0.7;
			width: 100%;
			line-height: 40px;
			height: 40px;
			background-color: #fff;
			border-radius: 20px;
			border: 1px solid rgba(72, 247, 133, 0.1);
			box-shadow: $shadow;
			transition: all 0.3s;
			&:focus {
				outline: 0;
				opacity: 0.9;
			}
		}
	}
	button {
		margin: 70px auto;
		display: block;
	}
}

/* getTag */
.getTag {
	margin: 60px auto 30px auto;
	.tags {
		display: flex;
		list-style: none;
		flex-wrap: wrap;
		text-align: center;
		padding: 0;
		.tag {
			margin: 10px 10px;
		}
	}
	input[type="checkbox"] {
		display: none;
	}
	label {
		cursor: pointer;
		border: 2px solid rgb(41, 41, 41);
		border-radius: 20px;
		background-color: rgb(41, 41, 41);
		color: white;
		opacity: 0.6;
		transition: all 0.3s;
		display: inline-block;
		padding: 10px 20px;
		text-align: center;
	}
	input[type="checkbox"]:checked + input + label {
		opacity: 1;
		box-shadow: $shadow;
		animation: big 0.3s;
	}
	@keyframes big {
		0% {
			transform: scale(1);
		}
		100% {
			transform: scale(1.2);
		}
	}
}

/* index main page */
.search-wrapper {
	margin: 60px auto;
	width: 90%;
	h2 {
		font-weight: bold;
		font-size: 24px;
	}
	form {
		position: relative;
		margin: 0 auto;
		input {
			display: block;
			width: 100%;
			margin: 0 auto;
			border-radius: 25px;
			height: 30px;
			border: 1px solid rgba(0, 0, 0, 0.2);
		}
		button {
			position: absolute;
			right: 20px;
			top: 2px;
			color: rgba(0, 0, 0, 0.2);
			border: none;
			background-color: #fff;
			font-size: 17px;
			padding: 0;
		}
	}
}
.red {
	color: red;
}
.user-list {
	display: flex;
	flex-wrap: wrap;
	li {
		width: 50%;
		margin-bottom: 30px;
		.user-icon {
			text-align: center;
			margin-bottom: 20px;
			.userImage {
				width: 150px;
				height: 150px;
				object-fit: cover;
				border-radius: 50%;
				margin: 0 auto;
			}
		}
		p {
			text-align: center;
			font-weight: bold;
			font-size: 20px;
			.user-name {
				margin-right: 50px;
			}
		}
	}
}

/* main page user show */
.show-container {
	width: 75%;
	.user-icon {
		margin-top: 80px;
		margin-bottom: 30px;
		text-align: center;
		.userImage {
			width: 200px;
			height: 200px;
			object-fit: cover;
			border-radius: 50%;
			margin: 0 auto;
		}
	}
	.profile-wrapper {
		margin-top: 20px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		padding: 10px;
	}
}

.username {
	margin-bottom: 50px;
	span:first-child {
		margin-right: 30px;
	}
}

.profile {
	margin-bottom: 50px;
	small {
		color: white;
		background-color: #ffc629;
		opacity: 0.8;
		border-radius: 30px;
		padding: 7px 15px;
		display: inline-block;
		font-size: 13px;
	}
}
button {
	display: block;
	margin: auto;
}

/* user edit */
.edit {
	.user-editor {
		.input-wrapper {
			label {
				color: #333;
			}
			.file-input {
				border: none;
				border-radius: 0%;
				height: auto;
				box-shadow: none;
			}
			textarea {
				border: 1px solid rgba(72, 247, 133, 0.1);
				border-radius: 10px;
				width: 100%;
				box-shadow: $shadow;
				resize: none;
				font-size: 12px;
				&:focus {
					outline: 0;
				}
			}
		}
	}
}

/* match Success */

.matchsuccess-wrapper {
	margin-top: 60px;
	text-align: center;
	color: #ffc629;
	font-weight: bold;
	text-shadow: $shadow;
	p {
		margin-bottom: 70px;
	}
}

footer {
	a {
		width: 24%;
		margin: 0 auto;
		text-align: center;
		color: rgba(0, 0, 0, 0.2);
		i {
			display: block;
			font-size: 35px;
			padding: 30px 0;
		}
	}
}
